<!DOCTYPE html>
<html lang="en" class="h-100">

	{{>globalHead}}

	<body class="d-flex flex-column h-100">

		{{>header}}
		
		<main role="main" class="flex-shrink-0">
			<div class="container">
				<div class="starter-template">
					<h1>{{title}}</h1>
					<p class="lead">Usually yes you expect to find something useful here, currently it's not, but so simple to use. ;)<br>Bugs report here <a href="https://github.com/alexisRippstein/node-weather-website" target="_blank">Github</a></p>
				</div>
			</div><!-- /.container -->
		</main><!-- /.main -->

		{{>globalFooter}}
		
		<!-- Body Styles -->
		{{>globalBodyStyles}}

		<!-- Body Scripts -->
		{{>globalBodyScripts}}
	</body>
</html>